@standard_font_size: 13px;
@small_font_size: @standard_font_size - 2;  

body {
  font-size: @standard_font_size;
}

header {
  text-align: center;
}

nav div a{
  font-weight:bold 
  font:13px;
  text-decoration: none;
}

.subtext {
  font-size: @small_font_size;
  font-style: italic;
}

.posts {
  background: #fafafa;
  border: solid 1px #E6E6E6;
  border: 1px solid #000000;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.row {
  margin-bottom: 15px; 
}

.applyLink {
  float: right;
}

.notification {
  padding: 5px;
  background: #FFDBDB;
  text-align: center;
  margin: 15px 0;
}

td{
  padding: 5px;
}

.spacing {
  height:7px;
}

td input {
  width: 100%; 
  float: left;
}

input[type="checkbox"]  {
  width:auto;
}

input[type="submit"] {
  width:auto;
  float: right;
}
